@import "../../styles/variables";

.breadcrumb {
  color: $light-gray;
  margin: 16px 0;

  &__category {
    font-size: 14px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    & > span {
      content: "\10095";
      margin: 0 5px;
    }
    &:last-child > span {
      display: none;
    }
  }
}
